@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'root_variables (general).css';


* {
    margin: 0;
    padding: 0;
}
html * {
    font-family: 'Inter', sans-serif !important;
}
html, body {
    height: 100%;
}
body {
    height: 100%;

    /* TEMP */
    /* background-color: red; */
}

/*ADDITIONAL CLASSES*/
.volunteer_mode .sticky {
    position: fixed;
    top: 0px;
    width: 67.2vw;
    /* width: 71.4vw; */

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-top: 3px solid white;
    border-bottom: 3px solid white;


    /* width: 100%; */

    /*TEMP*/
    /* border: 3px dashed red; */
}








/*  General */
/*  current_Page DISPLAY (URL)  */
.volunteer_mode .url-and-container__main {

}
.volunteer_mode .page-url {
    /* margin-top: 30px; */
    margin-bottom: 5px;
    padding-left: 10px;


    font-size: var(--font-size-main-content);

    color: #808080;

    /*TEMP*/
    /* border: 3px dashed black; */
}
.volunteer_mode .page-url a {
    color: #808080;
    text-decoration: none;

    transition: all 0.5s;
}
.volunteer_mode .page-url a:hover {
    text-decoration: underline;
    
    transition: all 0.5s;
}






/*  __BASIS__  */
.volunteer_mode.wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;

    /*TEMP*/
    /* background-color: aqua; */
    /* border: 3px dashed black; */
}
.volunteer_mode .SIDEBAR {
    width: var(--width-sidebar);
    min-width: var(--min-width-sidebar);

    z-index: 100;

    /*TEMP*/
    /* background-color: red; */
    /* border: 3px dashed black; */
}
.volunteer_mode .MAIN {
    width: var(--width-main);
    min-width: var(--min-width-main);

    height: 87.5vh;
    background-color: #F5F6F7;

    /*TEMP*/
    /* background-color: red; */
    /* border: 3px dashed black; */
}



/*  --DEEPER--  */
/* SIDEBAR */
.volunteer_mode .sidebar__container {
    position: fixed;
    top: 0;
    left: 0;

    width: var(--width-sidebar);
    min-width: var(--min-width-sidebar);

    height: 100%;

    background-color: var(--color-main-theme);

    /*TEMP*/
    /* border: 3px dashed black; */
}


.volunteer_mode .logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .logo__container a {
    display: flex;
    align-items: center;

    margin-top: 40px;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .logo-img {
    width: 80px;
    height: 80px;


    /*TEMP*/
    /* border: 3px dashed red; */
}



.volunteer_mode .sidebar__container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 75%;
    
    /*TEMP*/
    /* border: 3px dashed white; */
    /* background-color: red; */
}

.volunteer_mode .menu__container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    
    
    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .menu-item {
    display: flex;
    justify-content: center;

    /*TEMP*/
    /* border: 3px dashed white; */
    /* background-color: red; */
}
/* .menu-item:hover {
    padding: 5px 0;

    background-color: #fff;
}
.volunteer_mode .menu-item:hover a {
    width: auto;

    color: var(--color-main-theme);
    font-size: var(--font-size-menu-item-active);
} */


.volunteer_mode .menu-item a {
    font-size: var(--font-size-sidebar-menu-content);
    text-decoration: none;
    color: #fff;

    display: block;
    width: 120px;



    /*TEMP*/
    /* border: 3px dashed white; */
    /* background-color: aqua; */
}

.volunteer_mode .menu-item.active {
    padding: 5px 0;

    background-color: #fff;

    /*TEMP*/
    border: 3px dashed white;
}
.volunteer_mode .menu-item.active a {
    width: auto;

    color: var(--color-main-theme);
    font-size: var(--font-size-menu-item-active);
}


.volunteer_mode .footer__container {
    display: flex;
    justify-content: center;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .copyright__container {
    padding: 30px 0;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .copyright-text {
    font-size: var(--font-size-additional-content);
    color: #fff;


    /*TEMP*/
    /* border: 3px dashed white; */
}







/* MAIN */
.volunteer_mode .container {
    display: flex;
    flex-direction: column;

    padding: 30px 60px;
    padding-bottom: 60px;

    background-color: #F5F6F7;


    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: aqua; */
}



.volunteer_mode .container__additional_menu {
    text-align: right;

    display: flex;
    justify-content: end;
    gap: 10px;

    /*TEMP*/
    /* background-color: aqua; */
    /* border: 5px dashed red;     */
}
.volunteer_mode .container__additional_menu a {
    font-size: var(--font-size-box-title);
    text-decoration: none;
    color: #000;

    /*TEMP*/
    /* background-color: aqua; */
    /* border: 5px dashed red;   */
}
.volunteer_mode .container__additional_menu a:hover {
    text-decoration: underline;
}
.volunteer_mode .container__additional_menu a.active {
    text-decoration: underline;
}

.volunteer_mode .container__main {
    /* max-width: var(--max-width-container); */

    /* margin-bottom: 60px; DDDDDDDSDVSVSSDFDVS*/

    /*TEMP*/
    /* background-color: aqua; */
    /* border: 5px dashed red; */
}
.volunteer_mode .MAIN .content {
    /* max-width: var(--max-width-container); */

    display: flex;
    flex-direction: column;
    gap: 10px;

    border: none;

    /* background-color: #F5F6F7; */

    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: aqua; */
}

.volunteer_mode .content__title {
    text-align: center;

    /* background-color: #F5F6F7; */

    font-size: var(--font-size-main-content-title);

    /*TEMP*/
    /* border: 3px dashed black; */
}   
.volunteer_mode .content__body {
    font-size: var(--font-size-main-content);


    background-color: #F5F6F7;
    /*TEMP*/
    /* border: 3px dashed red; */
    /* background-color: red; */
}
.volunteer_mode .content-title-select-box {
    display: flex;
    align-items: center;
    gap: 15px;

    /* margin-left: 10px; */

    /* background-color: #F5F6F7; */
    /* background-color: red; */
    background-color: none;

    /*TEMP*/
    /* border: 3px dashed black; */
}


.volunteer_mode .content-title-select-box a {
    font-size: var(--font-size-box-title);
    text-decoration: none;
    color: black;

    position: relative;
    top: 7px;
}
.volunteer_mode .content-title-select-box .active {
    position: relative;
    top: 2.5px;

    border: 3px solid var(--color-main-theme);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;

    padding: 15px 25px;

    background-color: #fff;
}
.volunteer_mode .content-title-select-box p {
    font-size: var(--font-size-box-title);
    text-decoration: none;
    color: var(--color-additional-info);

    position: relative;
    top: 7px;
}



.volunteer_mode .content-box {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 30px 40px;
    padding-bottom: 50px;

    border: 3px solid var(--color-main-theme);
    border-radius: 10px;

    background-color: #fff;

    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: aqua; */
}


.volunteer_mode .myDonations-content-box {
    width: 100%;
    border: 3px solid var(--color-main-theme);
    border-radius: 10px;

    /*TEMP*/
    /* border: 3px dashed black; */
}
.volunteer_mode .titles-box {
    display: flex;
    /* justify-content: space-between; */

    background-color: var(--color-main-theme);
    color: #fff;
    font-size: var(--font-size-main-content);

    padding-left: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .titles-box p {
    padding: 10px 0;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .title {
    display: flex;
    gap: 15px;

    /*TEMP*/
    /* border: 3px dashed white; */
}
.volunteer_mode .title:last-child {
    gap: 50px;
}
.volunteer_mode .title .vertical-hr {
    position: relative;
    top: -3px;

    border-left: 3px solid white;
    height: 107%;
}

.volunteer_mode .titles-box #title_donation {
    width: 15%;
}
.volunteer_mode .titles-box #title_date {
    width: 17%;
}
.volunteer_mode .titles-box #title_contacts {
    width: 25%;
}
.volunteer_mode .titles-box #title_address {
    width: 22.6%;
}
.volunteer_mode .titles-box #title_action {
    /* width: 100%; */
}







.volunteer_mode .myDonations-flex-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 15px 20px;
    padding-bottom: 25px;

    background-color: #F5F6F7;
    border-radius: 10px;
}
.volunteer_mode .myDonations-box {
    display: flex;
    width: 100%;

    border: 3px solid var(--color-main-theme);
    border-radius: 10px;

    background-color: #fff;

    /*TEMP*/
    /* background-color: aqua; */
}

.volunteer_mode .box-content {
    width: 83%;
    /*TEMP*/
    /* border: 3px dashed black; */
}
.volunteer_mode .box-content hr {
    margin: 0;
    border: 2px solid var(--color-main-theme);
}
.volunteer_mode .content-title-box {
    display: flex;
    gap: 10px;

    padding: 20px;

    /*TEMP*/
    /* border: 3px dashed black; */
}

.volunteer_mode .content-title-box #title_donation {
    width: 20%;
}
.volunteer_mode .content-title-box #title_date {
    width: 21%;
}
.volunteer_mode .content-title-box #title_contacts {
    width: 31%;
}
.volunteer_mode .content-title-box #title_address {
    /* width: 0px; */
}
.volunteer_mode .content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: var(--font-size-additional-content);
    text-align: left;

    /*TEMP*/
    /* border: 3px dashed black; */
    /* border-right: 3px dashed black; */
}

.volunteer_mode .content-title#title_contacts p, 
.volunteer_mode .content-title#title_address p {
    color: var(--color-additional-info);
} 
.content-title p {
    /*TEMP*/
    /* border: 3px dashed black; */
}

.content-description-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: red; */
}
.volunteer_mode .description-img-box {
    display: flex;
    justify-content: space-between;

    width: 100%;

    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: aqua; */
}
.volunteer_mode .donation-img {
    width: 32%;
    height: 120px;

    background-color: var(--color-main-theme);
    border-radius: 10px;
}
.volunteer_mode .description-text-box {
    font-size: var(--font-size-additional-content);
    text-align: left;

    /*TEMP*/
    /* border: 3px dashed black; */
}

.volunteer_mode .box-action {
    width: 19%;

    display: flex;

    font-size: var(--font-size-additional-content);

    /*TEMP*/
    /* border: 3px dashed black; */
}
.volunteer_mode .box-action .vertical-hr {
    height: 100%;

    border-left: 3px solid var(--color-main-theme);
}

.volunteer_mode .box-action-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /*TEMP*/
    /* border: 3px dashed black; */
}
/* .edit-content-action {
}
.volunteer_mode .edit-button {
    background-color: #0077B6;

} */


/* .delete-content-action {
}
.volunteer_mode .delete-button {
    background-color: #E73C35;

} */

.volunteer_mode .box-action-container button {
    display: flex;
    justify-content: center;

    /* width: 120px; */
    
    border-radius: 10px;
    border: 3px solid var(--color-main-theme);
}
.volunteer_mode .box-action-container a {
    display: block;
    width: 100%;

    padding: 10px 0px;

    text-decoration: none;
    font-size: var(--font-size-button-action);    /*      var(--font-size-additional-content)     */
    color: #fff;

    /*TEMP*/
    /* border: 3px dashed white; */
}







/*  Show_Entity_Box  */
.volunteer_mode .show-entity-box {
    display: flex;
    align-items: center;

    font-size: var(--font-size-additional-content);

    /*TEMP*/
    /* border: 2px dashed black; */
    /* background-color: aqua; */
}
.show-entity-box p {
    display: flex;
    align-items: center;

    /*TEMP*/
    /* border: 2px dashed black; */
    /* background-color: aqua; */
}
.volunteer_mode .entity-count-box {
    display: flex;
    align-items: center;
    gap: 7px;

    padding: 2px 10px;
    margin: 0 5px;

    border-radius: 10px;
    color: #fff; 
    
    background-color: var(--color-main-theme);

    cursor: pointer;

    /*TEMP*/
}
.volunteer_mode .entity-count {
    width: 15px;

    color: #fff;

    background-color: var(--color-main-theme);
    border: none;
    outline: none;

    /*TEMP*/
    /* border: 2px dashed white; */
}

.volunteer_mode .arrow-down-img {
    width: 15px;
    height: 15px;

    padding-top: 5px;
    
    /*TEMP*/
    /* border: 2px dashed white; */
}




/*  Page_Mapping_Box  */
.volunteer_mode .page-mapping-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
    /* margin-bottom: 30px; */

    font-size: var(--font-size-additional-content);

    /*TEMP*/
    /* border: 3px dashed black; */
    /* background-color: lightgreen; */
}
.volunteer_mode .page-mapping-text {
    display: flex;

    /*TEMP*/
    /* border: 3px solid black; */
}
.volunteer_mode .page-mapping-select {
    display: flex;
    gap: 4px;

    /*TEMP*/
    /* border: 3px solid black; */
}
.volunteer_mode .page-mapping-select div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid var(--color-main-theme);
    border-radius: 10px;

    /*TEMP*/
    /* border: 2px solid black; */
}
.volunteer_mode .page-mapping-select div a {
    display: inline-block;
    padding: 1px 5px;

    text-decoration: none;

    /*TEMP*/
    /* border: 1px dashed white; */
}
.volunteer_mode .page-mapping-select a, 
.volunteer_mode .page-mapping-select a:visited, 
.volunteer_mode .page-mapping-select a:hover, 
.volunteer_mode .page-mapping-select a:active {
    color: inherit;
}
.volunteer_mode .page-mapping-select .active {
    background-color: #1B2B4C;
    color: #fff;

}
.volunteer_mode .active a {
    color: #fff;
}
.volunteer_mode .active img {
    width: 15px;
    height: 15px;

    border: none;
}