@import '/(general)/css (general)/root_variables (general).css';


#myDonations_Page_Recieved.organization_mode .make_report-content-action {
    /*TEMP*/
    /* border: 3px dashed black; */
}
#myDonations_Page_Recieved.organization_mode .make_report-button {
    margin: 0 15px;

    background-color: var(--color-main-theme);

    /*TEMP*/
    /* border: 3px dashed red; */
}
#myDonations_Page_Recieved.organization_mode .make_report-button a {
    min-width: 123px;

    padding: 10px;
    
    /*TEMP*/
    /* border: 3px dashed white; */
}
